header{
    background-color: rgb(104, 132, 173);
    width: 100vw;
    height: 90px;
    /*height: 12.5vh;*/
    padding: 0;
    box-shadow: 10px 0px 5px 1px #b4bbbf;
}

/*.siteTitle{
    /*color: #fffefa;*/
    /*color: #fffdf5;
    font-weight: bold;
    line-height: 50px;
    /*font-size: 35px;*/
    /*font-size: 2.5vw;
    margin-left: 70px;
    position: relative;
    top: 25px;
}*/



.siteTitle{
    color: #fffdf5;
    font-weight: bold;
    /*line-height: 50px;*/
    /*font-size: 2.5vw;*/
    font-size: 35px;
    margin-left: 60px;
    position: relative;
    top: 25px;
}

header nav ul{
    float: right;
    margin-right: 90px;
    /*position: relative;
    top: -65px;*/
    /*margin-top: -7vh;*/
}

header nav ul li{
    display: inline-block;
    margin-right: 30px;
    position: relative;
    bottom: 65px;
    right: 50px;
}

header nav ul li:hover{
    cursor: pointer;
}

header nav ul li{
    font-size: 29px;
    /*font-size: 1.8vw;*/
    color: #fffdf5;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

header nav ul li:hover{
    background: #abbed9;
    /*padding: 5px 10px;*/
    /*border-radius: 40px;*/
    /*color: #fffdf5;*/
    color: #ffffff;
}

li.active{
    background: #abbed9;
    /*padding: 10px 30px;*/
    border-radius: 0px;
    padding: 37px 15px 29px 15px;
    color: #ffffff;
}

/*.blogList ul li{
    display: grid;
    margin-left: 475px;
    position: relative;
    bottom: 50px;
}*/

.blogList ul{
    margin: 0%;
    /*margin-top: 30px;*/
    padding: 0%;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*height: 90vh;*/
}

.blogList ul li{
    font-size: 20px;
    margin: 10px;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    text-align: center;
    background-color: #fcfeff;
    width: 20vw;
    height: 25vh;
    /*padding: 1vh 1vw;*/
}

.blogList ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 100px;
    /*background-color: #f0f0f0;*/
    /* latestbackground-color: #f7f7f7;*/
    /*newlatesbackground-color: #fafeff;*/
    background-color: #fcfeff;
    width: 50%;
    height: 150px;
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /* latestbox-shadow: 0 0 0.1875rem 0.0625rem rgb(194, 194, 194);*/
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    text-align: center;
}

.blogList ul li:hover{
    /*background: #dedede;*/
    background: #edeff0;
    cursor: pointer;
}

.blogHeading{
    /*margin-left: 728px;*/
    margin-left: 48%;
    margin-top: 3%;
    margin-bottom: 10px;
}

.blog1Post article{
    margin: 2% 20% 4% 20%;
    font-size: 20px;
}

.blog1H1{
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.blog2H1{
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.blog3H1{
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.backToBlogs{
    /* latestbackground-color: #f7f7f7;*/
    background-color: #fcfeff;
    margin: 0 20% 0 20%;
    margin-bottom: 30%;
    /*width: 10%;
    height: 100%;*/
    padding: 1% 2% 1% 2%;
    color: black;
    text-decoration: none;
    box-shadow: 0 0 0.1875rem 0.0625rem rgb(194, 194, 194);
    border-radius: 10%;
    width: 5vw;
}

.backToBlogs:hover{
    background: #edeff0;
    cursor: pointer;
}

.backToBlogs{
    margin-bottom: 10%;
    margin-top: 2%;
}

.dropDownSort{
    position: relative;
    left: 30%;
    top: 60px;
    display: inline-block;
}


.sortButton{
    background-color: rgb(104, 132, 173);
    /*box-shadow: 1px 0px 5px 0px #b4bbbf;*/
    color: #fffdf5;
    font-weight: bold;
    padding: 11px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    /*cursor: pointer;*/
}

.sortOptions{
    display: none;
    position: absolute;
    background-color: #fcfeff;
    min-width: 120px;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    z-index: 1;
    padding: 0%;
    margin: 0%;
    border-radius: 2px;
    cursor: pointer;
}

.sortOptions li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.sortOptions li:hover{
    background-color: #edeff0;
}

.dropDownSort:hover .sortOptions{
    display: block;
}

.dropDownSort:hover .sortButton{
    background: #abbed9;
    color: #ffffff;
}


footer{
    /*margin: 10% 0 0 0;*/
    margin-top: 10%;
    text-align: center;
    background: #8794a8;
    width: 100vw;
    height: 35px;
    color: #fffdf5;
}

footer p{
    position: relative;
    top: 6px;
}

.pointIndent{
    padding-left: 1%;
}

.References{
    margin: 2% 20% 4% 20%;
    font-size: 20px;
}

body{
    background-color: #f7fbfc;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /* looks nicest font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
}

/*.gamesList ul{
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 18%;
}*/

/*.gamesList ul li{
    display: inline-block;
    /*margin-left: 10%;
    padding: 10% 20% 10% 10%;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px; this works*/ 
    /*margin-right: 5%;
}*/

.gamesList ul li{
    /*background: blue;*/
    margin: 10px;
    /*width: 10rem;
    height: 5rem;*/
    /*width: 20vw;
    height: 30vh;*/
    text-align: center;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    /*padding: 100px 150px 100px 150px;*/
    padding: 15vh 10vw;
    font-size: 40px;
    font-weight: bold;
    
}

.gamesList ul{
    margin: 0%;
    margin-top: 30px;
    padding: 0%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.gamesList ul li a{
    text-decoration: none;
    color: black;
    /*padding: 10% 10% 10% 10%;*/
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    padding: 100px 150px 100px 150px;
    font-size: 40px;
    font-weight: bold;
}


.gamesList ul li:hover{
    background: #edeff0;
    cursor: pointer;
}

.gamesHeading{
    margin-left: 44%;
    margin-top: 4%;
    font-size: 50px;
}

/*.codeProjectList ul{
    margin-left: 9%;
    margin-top: 11%;
    margin-bottom: 18%;
}

.codeProjectList ul li{
    display: inline-block;
    margin-right: 5%;
}*/

.codeProjectList ul{
    margin: 0%;
    margin-top: 30px;
    padding: 0%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.codeProjectList ul li{
    margin: 10px;
    text-align: center;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    padding: 15vh 7vw;
    font-size: 40px;
    font-weight: bold;
}

.codeProjectList ul li a{
    text-decoration: none;
    color: black;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    padding: 100px 120px 100px 120px;
    font-size: 40px;
    font-weight: bold;
}

.codeProjectList ul li:hover{
    background: #edeff0;
    cursor: pointer;
}

.codeProjectHeading{
    margin-left: 41%;
    margin-top: 4%;
    font-size: 50px;
}

/*.game1Img img{
    width: 30%;
    height: 50%;
    border-radius: 8px;
    margin-left: 15.5%;
    position: relative;
    bottom: 290px;
}*/

/*.game1H1{
    margin-left: 20%;
}*/

.game1Logo img{
    margin-left: 19%;
    margin-right: 20%;
    margin-top: 4%;
    width: 60%;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
}

.game2Logo img{
    margin-left: 19%;
    margin-right: 20%;
    margin-top: 4%;
    width: 61%;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
}

.codeProject1H1{
    margin-left: 35%;
    margin-top: 4%;
}

.codeProject2H1{
    margin-left: 30%;
    margin-top: 4%;
}

.homeDescription{
    color: black;
    background-color: #fcfeff;
    box-shadow: 3px 1px 5px 1px #b4bbbf;
    border-radius: 8px;
    padding: 50px 70px 50px 70px;
    margin-top: 4%;
    margin-bottom: 16%;
    margin-left: 20%;
    margin-right: 20%;
}

.homeDescription article{
    font-size: 22px;
}

.indexH1{
    margin-top: 8%;
    margin-left: 30%;
}

.pdfDoc iframe{
    margin-left: 17%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.wireframeH1{
    margin-left: 38%;
    margin-top: 4%;
}

.wireFrames{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
}

.styleGuide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 60%;
}

/*#Home:hover{
cursor:pointer;
}

#Games:hover{
cursor:pointer;
}*/

.iconBars{
    color: #fffdf5;
    /*color: black;*/
    display: none;
}

.boldTitle{
    font-weight: bold;
}

.newBlogH1{
    margin-top: 20px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.pdfLink{
    margin-left: 40%;
    margin-right: 50%;
    width: 2%;
    font-size: 20px;
}

@media(max-width: 1400px){
    header{
        height: 80px;
    }

    header nav ul li{
        font-size: 20px;
        bottom: 58px;
    }

    .siteTitle{
        font-size: 30px;
    }

    li.active{
        padding: 37px 15px 28px 15px;
    }

    .blogList ul li{
        height: 17vh;
        font-size: 17px;
    }

    footer{
        position: relative;
        top: 30px;
    }

}

@media(max-width: 600px){
    .siteTitle{
        margin-left: 25px;
    }

    header nav ul{
        display: none;
        /*margin: 0;*/
        margin-top: 45px;
        float: left;
        position: absolute;
        z-index: 1;
        background-color: rgba(78, 80, 89, 0.941);
        height: 100vh;
        width: 91.5vw;
    }

    .iconBars{
        display: block;
        float: right;
        margin-right: 30px;
        font-size: 30px;
        padding: 5px;
        position: relative;
        bottom: 11px;
    }

    .iconBars:hover{
        /*background: #abbed9;
        color: #ffffff;*/
        cursor: pointer;
    }

    header nav ul li{
        color: #fffdf5;
        font-size: 25px;
        font-weight: bold;
        display: block;
        /*margin: 0;*/
        margin-top: 10px;
        /*position: unset;*/
        position: relative;
        top: 1px;
        margin-left: 10px;
        width: 95px;
    }

    li.active{
        padding: 20px 15px 20px 15px;
    }

    .indexH1{
        margin-top: 8%;
        margin-left: 10%;
        font-size: 30px;
    }

    .homeDescription{
        padding: 10px 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 60px;
        margin-bottom: 270px;
    }

    .homeDescription article{
        text-align: center;
        font-size: 20px;
    }

    footer p{
        position: unset;
        font-size: 15px;
    }

    .gamesList ul{
        margin-top: 20%;
        flex-direction: column;
        align-items: center;
    }

    .gamesList ul li{
        margin: 30px;
        text-align: center;
        background-color: #fcfeff;
        box-shadow: 3px 1px 5px 1px #b4bbbf;
        border-radius: 8px;
        font-size: 30px;
        font-weight: bold;
        width: 50vw;
        height: 20vh;
        padding: 0;
    }

    .gamesHeading{
        margin-left: 38%;
        margin-top: 50px;
    }

    .codeProjectList ul{
        margin-top: 20%;
        flex-direction: column;
        align-items: center;
    }

    .codeProjectList ul li{
        margin: 30px;
        text-align: center;
        background-color: #fcfeff;
        box-shadow: 3px 1px 5px 1px #b4bbbf;
        border-radius: 8px;
        padding: 0;
        font-size: 30px;
        width: 50vw;
        height: 20vh;
    }

    .codeProjectHeading{
        margin-left: 25%;
        margin-top: 50px;
    }

    .blogList ul li{
        font-size: 15px;
        width: 50vw;
        height: 15vh;
    }

    .blogHeading{
        margin-left: 42%;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .dropDownSort{
        position: relative;
        left: 4%;
        top: 60px;
        display: inline-block;
    }

    .sortButton{
        /*padding: 9px;*/
        padding-left: 2px;
        padding-right: 2px;
        font-size: 15px;
        border-radius: 4px;
        border: none;
        position: relative;
        right: 5px;
    }

    .sortOptions{
        min-width: 70px;
    }

    .sortOptions li{
        font-size: 14px;
    }

    .blog1Post article{
        font-size: 17px;
    }

    .References{
        /*margin: 2% 20% 4% 20%;*/
        font-size: 13px;
        overflow-wrap: break-word;
    }

    .backToBlogs{
        font-size: 10px;
    }


}